.files-list {
  border: 1px solid balck;
  width: 100%;
  table {
    width: 100%;
    margin-top: 1em;
    tr {
      padding: 5px 0;
      th {
        text-align: start;
      }
    }
  }
  button {
    background-color: #1fa2ff;
    padding: 15px;
    border: none;
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
    color: #fff;
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 20px;
    cursor: pointer;
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

    &:hover {
      background-color: #4aaef5;
    }
  }
}
